<div id="v-app">
  <h1>Vue Components</h1>
  <%= link_to 'Style guide', root_path %>

  <%= render 'vue/components/accordion' %>
  <%= render 'vue/components/carousel' %>
  <%= render 'vue/components/expandable_item' %>
  <%= render 'vue/components/modal' %>
  <%= render 'vue/components/nav' %>
  <%= render 'vue/components/sticky_bar' %>
  <%= render 'vue/components/tabs' %>
  <%= render 'vue/components/tooltip' %>
  <%= render 'vue/components/v_select' %>
  <%= render 'vue/components/v_map' %>

  <%= render 'vue/components/horizontal_bar_chart' %>
</div>
