<div class="page-container">
  <h1>Style guide</h1>
  <%= link_to 'Vue components', root_path %>  <%= render 'styleguide/styles/text' %>
  <%= render 'styleguide/styles/buttons' %>
  <%= render 'styleguide/styles/colors' %>
  <%= render 'styleguide/styles/tables' %>
</div>