<main class="page-container">
  <ul>
    <% @styleguides.each do |sg| %>
      <li><%= link_to sg[:name], root_path(styleguide: sg[:id]) %></li>
    <% end %>
  </ul>
  <%= render 'styleguide/styles/text' %>
  <%= render 'styleguide/styles/buttons' %>
  <%= render 'styleguide/styles/colors' %>
  <%= render 'styleguide/styles/tables' %>
</main>