<div class="<%= styleguide_class %> bg--grey">
  <social-share>
    <!-- links below can be found in application_helper.rb -->
    <%= create_sharing_email_link %>
    <%= create_sharing_linkedin_link %>
    <%= create_sharing_facebook_link %>
    <%= create_sharing_twitter_link %>
  </social-share>
</div>